{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Квиз{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="layout-grid">
    <header class="site-header1" style="background: linear-gradient(135deg,#cbfed8, #037030 ); ">
        <div style="width: 450px; height: 170px; justify-self: left; margin-left: 30px;">
            <img src="{% static 'img/35.png' %}" alt="Лого ФТС 35 лет" style="width: 100%; height: 100%; ">
        </div>
        <div style="margin-left: 570px; padding-top: 10px;">
            <h1>Деловая игра в честь дня УТРД ФТС России</h1>
            <div class="nav-buttons">
                <a href="{% url 'team_scores' %}" class="btn btn-outline-menu">Таблица команд</a>
                <a href="{% url 'add_team' %}" class="btn btn-outline-menu">Добавить команду</a>
                <a href="{% url 'admin:index' %}" class="btn btn-outline-menu">Админ-панель</a>
            </div>
        </div>
    </header>
    <main class="page-content">
        {% block content %}
        {% endblock %}
        {% include 'team_scores_snippet.html' %}
    </main>
    <footer class="site-footer">
        <div class="container text-center">
            &copy; {{ now|date:"YYYY" }} Квиз-система. УТРД ФТС России.
        </div>
    </footer>
</div>

</body>
</html>